@import url('https://fonts.googleapis.com/css2?family=Space+Mono:wght@400;700&display=swap');
:root {
      --First-Dark-cyan: hsl(186, 14%, 43%);
      --First-Light-cyan: hsl(185, 41%, 84%);
      --Second-Dark-cyan: hsl(184, 14%, 56%);
      --Second-Light-cyan: hsl(189, 41%, 97%);
      --Strong-cyan: hsl(172, 67%, 45%);
      --Very-dark-cyan: hsl(183, 100%, 15%);
      --White: hsl(0, 0%, 100%);
  }
*,
*::before,
*::after {
    box-sizing: border-box;
    color: var(--Very-dark-cyan);
    font-family: 'Space Mono', monospace;
    font-weight: 700;
    margin: 0;
    padding: 0;
}
body {
      background-color: var(--First-Light-cyan);
  }
.heading {
      color: var(--Very-dark-cyan);
      left: 50%;
      letter-spacing: 0.5em;
      line-height: 2em;
      position: absolute;
      text-align: center;
      top: 18%;
      transform: translate(-50%, -82%);
  }
.container {
      background-color: var(--White);
      border-radius: 1rem;
      display: grid;
      grid-column-gap: 1.8rem;
      grid-template-columns: auto auto;
      left: 50%;
      padding: 1.8rem;
      position: absolute;
      top: 54%;
      transform: translate(-50%, -46%);
  }
.input {
      display: flex;
      flex-direction: column;
      gap: 2.5rem;
      padding: 1rem;
  }
label {
      color: var(--First-Dark-cyan);
  }
.billC, .selectTipC, .peopleC {
      display: flex;
      flex-direction: column;
      gap: 0.4em;
  }
.billC input[type="number"], .peopleC input[type="number"]{
      background-color: var(--Second-Light-cyan);
      border-radius: 0.3rem;
      border: 2px solid hsla(172, 67%, 45%, 0);
      font-size: 24px;
      outline: none;
      padding: 0.1em 0.7em;
      text-align: end;
  }
.billC input[type="number"]::placeholder, .peopleC input[type="number"]::placeholder {
      color: hsla(183, 100%, 15%, 0.5);
  }
.billC input[type="number"] {
      background-image: url('../images/icon-dollar.svg');
      background-position: 0.75em 50%;
      background-repeat: no-repeat;
  }
input[type="number"]:focus {
      border: 2px solid hsla(172, 67%, 45%, 1);
  }
.selectTipCustomC-active {
      border: 2px solid hsla(172, 67%, 45%, 1) !important;
  }
.errorInput-active {
      border: 2px solid #F44336 !important;
  }
.billErrorC {
      visibility: hidden;
  }
.billErrorC-active {
      color: #F44336;
      margin-left: 14.1rem;
      visibility: visible;
  }
.peopleErrorC {
      visibility: hidden;
  }
.peopleErrorC-active {
      color: #F44336;
      margin-left: 6.75rem;
      visibility: visible;
  }
.selectTipAllBtnC {
      display: grid;
      grid-gap: 1rem;
      grid-template-columns: auto auto auto;
  }
.selectTipBtnC {
      background-color: var(--Very-dark-cyan);
      border-radius: 0.3rem;
      border: none;
      color: var(--White);
      cursor: pointer;
      font-size: 24px;
      margin: 4px 2px;
      padding: 0.2em 1.5em;
      text-decoration: none;
  }
.selectTipBtnC:hover {
      background-color: hsla(172, 67%, 45%, 0.4);
      color: var(--Very-dark-cyan);
  }
.selectTipBtnC-active {
      background-color: var(--Strong-cyan);
      color: var(--Very-dark-cyan);
  }
.selectTipCustomC {
      background-color: var(--Second-Light-cyan);
      border-radius: 0.3rem;
      border: 2px solid hsla(172, 67%, 45%, 0);
      font-size: 24px;
      outline: none;
      padding: 0.1em 0.5em;
      text-align: right;
      width: 116.08px;
  }
.selectTipCustomC::placeholder {
      color: var(--Very-dark-cyan);
      opacity: 0.75;
  }
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
.peopleC input[type="number"] {
      background-image: url('../images/icon-person.svg');
      background-position: 0.75em 50%;
      background-repeat: no-repeat;
  }
.result {
      background-color: var(--Very-dark-cyan);
      border-radius: 1rem;
      padding: 2.5rem;
      width: 420px;
  }
.result h4 {
      color: var(--White);
      letter-spacing: 0.05em;
  }
.result p {
      color: var(--Second-Dark-cyan);
      font-size: 14px;
  }
.tipAmountC {
      margin-bottom: 1em;
  }
.totalC {
      margin-bottom: 7em;
  }
.text {
      display: inline-block;
      padding: 1em 0;
  }
.tipAmountNumC, .totalNumC {
      color: var(--Strong-cyan);
      float: right;
      font-size: 50px;
  }
.clearfix::after {
      clear: both;
      content: "";
      display: table;
  }
.resetBtn {
      background-color: var(--Strong-cyan);
      border-radius: 0.3rem;
      border: 0;
      font-size: 20px;
      opacity: 0.2;
      padding: 0.6em 0;
      width: 100%;
  }
.resetBtn-active {
      cursor: pointer;
      opacity: 1;
  }
.resetBtn-active:hover {
      background-color: var(--First-Light-cyan);
  }
.attribution {
 font-size: 11px;
 text-align: center;
}
.attribution a {
 color: hsl(228, 45%, 44%);
}