*,
*::before,
*::after {
  margin: 0;
  padding: 0; 
}
html {
  box-sizing: border-box;
  font-size: 62.5%;
 }
  @media screen and (max-width: 75em) {
    html {
      font-size: 50%;
     }
     }
.container {
  background-color: #000;
  display: grid;
  grid-row-gap: 3rem; 
  padding: 7rem 0;
  place-items: center;
}
  @media screen and (max-width: 75em) {
    .container {
      padding: 0; 
    }
   }
.container {
  font-family: "Rubik", sans-serif;  
  font-weight: 400;
  line-height: 1.6;
}
.heading-1 {
  color: #3e2753; 
  font-size: calc(1.8rem + 1.2vw);
  font-weight: 500;
}
.heading-4 {
  color: #fff;
  font-size: 1.3rem;
 }

.paragraph {
  color: #a39daa;
  font-size: 2rem;
 }
.small {
  color: #d89eff;
  font-size: 1rem;
 }
.mb-md {
  margin-bottom: 2rem;
 }
.app__container {
  background-color: rgba(255, 255, 255, 0.87);
  display: grid;
  gap: 10rem;
  grid-template-columns: repeat(6, 1fr); 
  max-width: 144rem;
  overflow: hidden;
  padding: 10rem 0;
  place-items: center;
  position: relative;
  width: 100%;
  z-index: 1; 
}
  @media screen and (max-width: 50em) {
    .app__container {
      gap: 5rem;
      grid-template-columns: 5rem repeat(4, 1fr) 5rem;
     }
     }
  @media screen and (max-width: 39em) {
    .app__container {
      gap: 0;
      grid-row-gap: 5rem;
      grid-template-columns: 5rem 1fr 5rem;
     } 
    }
  .app__container--bg-1, .app__container--bg-2 {
    height: 85%;
    position: absolute;
    width: 32%;
    z-index: -1;
   }
    @media screen and (max-width: 39em) {
      .app__container--bg-1, .app__container--bg-2 {
        height: 50%;
        width: 50%; 
      } 
      }
  .app__container--bg-1 {
    background: linear-gradient(to left bottom, #e942ff, #8838ff); 
    border-bottom-left-radius: 25rem;
    border-bottom-right-radius: 25rem;
    left: -5%;
    top: 0;
  }
  .app__container--bg-2 {
    background-color: rgba(216, 158, 255, 0.075);
    border-top-left-radius: 25rem; 
    border-top-right-radius: 25rem;
    bottom: 0;
    right: -12%;
  }
.app__illustration {
  background-color: #f5f3f7;
  border-radius: 3rem;
  box-shadow: 0 0 0 1rem #fff; 
  grid-column: 2 / 4;
  overflow: hidden;
  position: relative;
}
  @media screen and (max-width: 39em) {
    .app__illustration {
      grid-column: 1 / 4; 
    }
   }

.app__top {
  align-items: center;
  background: linear-gradient(to left, #e942ff, #8838ff);
  display: grid;
  gap: 1.3rem;
  grid-template-columns: repeat(2, min-content) 3fr min-content;
  padding: 1.5rem;
 }
  .app__top-notch {
    grid-column: 1 / 6; 
  }
    .app__top-notch::after {
      background-color: #fff;
      border-radius: 1.7rem;
      content: "";
      display: block;
      height: 3.5rem;
      left: 50%;
      position: absolute;
      top: 0;
      transform: translate(-50%, -50%);
      width: 15rem;
     }
  .app__top--icon {
    fill: #fff;
    height: 1rem;
    width: 1rem;
   }
.app__item {
  height: 2.3rem;
  width: 2.3rem;
 }
.app__img {
  box-shadow: 0 0 0 0.1rem #fff;
  border-radius: 50%;
  height: 100%;
  object-fit: cover;
  width: 100%;
 }
.app__info-person {
  line-height: 1.2; 
}
.app__center {
  display: grid;
  grid-template-columns: repeat(5, 4.5rem);
  gap: 1rem;
  padding: 1.5rem 1.2rem;
 }
.app__bg {
  align-items: center;
  border-radius: 1rem;
  display: flex;
  font-size: 1rem;
  justify-content: center;
  padding: 0.7rem 1rem;
 }
  .app__bg--1, .app__bg--2, .app__bg--5 {
    background-color: rgba(216, 158, 255, 0.226);
    color: #9241c8;
    grid-column: 1 / 4; 
  }
  .app__bg--1 {
    grid-row: 1 / 2; 
  }
  .app__bg--2 {
    grid-row: 2 / 3;
   }
  .app__bg--3, .app__bg--4 {
    background-color: white;
   }
  .app__bg--3 {
    grid-area: 4 / 3 / 5 / 6;
   }
  .app__bg--4 {
    grid-area: 5 / 4 / 6 / 6;
   }
  .app__bg--5 {
    grid-row: 6 / 7;
   }
  .app__bg--6, .app__bg--7 {
    background: linear-gradient(to right, #e942ff, #8838ff);
    color: white;
    grid-column: 1 / 5;
    padding: 1.2rem; 
    width: 80%;
  }
    .app__bg--6 div, .app__bg--7 div {
      border-radius: 50%;
      box-shadow: 0 0 0 0.1rem #e570ff;
      height: 1rem;
      margin-right: 1rem; 
      width: 1rem;
    }
    .app__bg--6 span, .app__bg--7 span {
      font-size: 1.6rem;
      font-weight: 700; 
      margin-left: auto;
    }
  .app__bg--8 {
    align-items: center;
    background-color: white;
    border-radius: 5rem;
    color: #c6cacd;
    display: flex;
    justify-content: space-between;
    grid-column: 1 / 6;
    padding: 1rem 1rem 1rem 2rem;
   }
    .app__bg--8 span {
      align-items: center; 
      border-radius: 50%;
      background-color: #3e2753;
      display: flex;
      justify-content: center;
      height: 2.5rem;
      width: 2.5rem;

    }
.app__items {
  grid-row: 3 / 4;
  height: 5rem;
  width: 5rem;
 }
  .app__items--1 {
    grid-column: 3 / 4; 
  }
  .app__items--2 {
    grid-column: 4 / 5; 
  }
  .app__items--3 {
    grid-column: 5 / 6;
   }
.app__image {
  border-radius: 0.7rem; 
  height: 100%;
  object-fit: cover;
  width: 100%;
}
.app__description {
  grid-column: 4 / 6; 
}
  @media screen and (max-width: 39em) {
    .app__description {
      grid-area: 2 / 2 / 3 / 3; 
    } 
  }
.attribution {
  color: white; 
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: #e942ff;
  transition: color 0.2s; 
}
  .attribution a:hover {
    color: rgba(225, 30, 250, 0.774); 
  }
