/* .content{
    box-sizing: border-box;
} */

body{
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
    background-image: url(bg-pack.jpg);
}
/* .content{
    width: 10px;
    padding-right: 475px;
    box-sizing: border-box;
    padding-left: 560px;
    background-color: lightblue;
  
} */
.content {
    margin: auto;
width: 501px;
    /* border: 3px solid #73AD21;
     */
     /* background: cyan;
      */
      background-repeat: no-repeat;
      background-attachment: fixed;
      background-size: 100% 100%;
    padding: 10px;
  }

a:visited{
    color: purple;
}
a:hover{
    color:  yellow;
}
a:active{
    color: red;
}
.content a{
    align-items: center;
    padding-left: 200px;
}


a{
    font-size: 30px;
    
    padding: 3.5px;

}
ul li {
    font-size: 30px;
    color: darkolivegreen;
}
h1{
    color: darkorange;
    text-align: center;
    
}