@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800&display=swap");
:root {
    --blue: hsl(248, 32%, 49%);
    --dark-blue: hsl(249, 10%, 26%);
    --grayish-blue: hsl(246, 25%, 77%);
    --green: hsl(154, 59%, 51%);
    --red: hsl(0, 100%, 74%);
}
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body, input {
    background-color: var(--red);
    background-image: url("../images/bg-intro-desktop.png");
    background-repeat: no-repeat;
    background-size: cover;
    font-family: "Poppins", sans-serif;
}
main {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    min-height: 100vh;
    overflow: hidden;
    padding: 2.2rem;
    width: 100%;
}
.box {
    align-items: center;
    display: flex;    
    height: 640px;
    justify-content: space-between;
    max-width: 1100px;
    width: 100%;
}
.text-wrapper {
    color: #fff;
    height: auto;
    width: 42%;
}
.text-wrapper h1 {
    font-size: 2.6rem;
    line-height: 1.2;
    margin-bottom: 1.5rem;
}
.text-wrapper p {
    font-size: .95rem;
    font-weight: 400;
    line-height: 1.8;
}
.form-box {
    max-width: 550px;
    width: 55%;
}
.form-box .trial-box {
    background-color:  var(--blue);
    border-radius: .6rem;
    box-shadow: 0 7px 5px 0 rgba(0, 0, 0, 0.3);
    color: var(--grayish-blue);    
    font-size: .95rem;
    font-weight: 400;
    height: auto;
    margin-bottom: 1.2rem;
    padding: 0.75rem;
    text-align: center;
    width: 100%;
}
.form-box .trial-box strong {
    color: #fff !important;
}
.form-box .form-wrapper {
    background-color: #fff;
    border-radius: .6rem;
    box-shadow: 0 7px 5px 0 rgba(0, 0, 0, 0.3);
    height: auto;
    padding: 1.8rem;
    width: 100%;
}
.input-wrapper {
    height: 45px;
    margin-bottom: 2.5rem;
    position: relative;
}
.input-field {
    background: none;
    border: 2px solid var(--grayish-blue);
    border-radius: .5rem;
    color: var(--dark-blue);
    font-size: .95rem;
    font-weight: 500;
    height: 100%;
    outline: none;
    padding: 0.4rem 1.3rem;
    position: relative;
    transition: 0.4s;
    width: 100%;
}
.input-wrapper label {    
    color: var(--dark-blue);
    font-weight: 500;
    left: 1.3rem;
    pointer-events: none;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    transition: .3s;
}
.input-field.active {
    border-color: var(--blue);
}
.input-field.active + label {
    opacity: 0;
}
.input-wrapper .error-icon {
    opacity: 0;
    position: absolute;
    right: 5%;
    top: 50%;
    transform: translateY(-50%);
    transition: 0.3s;
}
.input-wrapper p {
    color: var(--red);
    font-size: .75rem;
    font-weight: 500;
    opacity: 0;
    position: absolute;
    right: 0;
    transition: .4s;
}
.sign-up-btn {
    background-color: var(--green);
    border: none;
    border-radius: .4rem;
    box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.3);
    color: #fff;
    cursor: pointer;
    font-size: .95rem;
    font-weight: 600;
    height: 45px;
    margin-bottom: 1rem;
    transition: 0.3s;
    width: 100%;
}
.sign-up-btn:hover {
    opacity: 0.7;
}
.form-wrapper p:last-child {
    color: var(--grayish-blue);
    font-size: .75rem;
    text-align: center;
}
.form-wrapper p:last-child span {
    color: var(--red);
    font-weight: 600;
}
.input-field.failed {
    border-color: var(--red);
    color: var(--red);
}
.input-field.failed + label {
    opacity: 0;
}
.input-field.failed ~ .error-icon{
    opacity: 1;
}
.input-field.failed ~ p {
    opacity: 1;
}
@media screen and (max-width: 870px){
    .box {
        align-items: center;
        flex-direction: column;
        justify-content: center;
        gap: 2.6rem;
        height: auto;
        max-width: 550px;
    }
    .box .text-wrapper {
        height: auto;
        text-align: center;
        width: 100%;
    }
    .box .form-box{
        height: auto;
        width: 100%;
    }
}
@media screen and (max-width: 530px){
    main {
        background-image: url(../images/bg-intro-mobile.png);
        padding: 3.6rem 1.8rem;
    }
    .box {
        gap: 3.8rem;
    }
    .form-box .trial-box {
        padding: 1rem 1.5rem;
    }
    .text-wrapper h1 {
        font-size: 1.8rem;
    }
}