h2{
    background-color: green;
    color: white;
}

h3{
    background-color: blue;
    color: white;
}

h1,h3{
    color: white;
}

/* selecting parent child*/

ul li{
    color: red;
}

ul>li{
    color: blue;
}
/*li{
    color: green;
}*/
ul>li{
    color: blue;
}





/*selecting class element*/

.item{
    color: pink;
}

#list-item{
    color: aqua;
}

/*selecting by type*/

input[type="email"]{
    background-color: yellowgreen;
}


