:root {
    --color-main-bg: hsl(0, 0%, 95%);
    --color-first-bg: hsl(31, 77%, 52%);
    --color-second-bg: hsl(184, 100%, 22%);
    --color-third-bg: hsl(179, 100%, 13%);
    --color-heading: hsl(0, 0%, 95%);
    --color-paragraph: hsla(0, 0%, 100%, 0.75);
    --color-button: hsl(0, 0%, 95%);
    --font-heading: "Big Shoulders Display", cursive;
    --font-text: "Lexend Deca", sans-serif;
  }
  html {
    font-family: var(--font-text);
  }
  body {
    align-items: center;
    background-color: var(--color-main-bg);
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 100vh;
    width: 100%;
  }
  main {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 330px;
  }
  h1.sr-only {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
  }
  section {
    padding: 50px 50px 60px 50px;
  }
  div {
    padding-bottom: 30px;
  }
  h2 {
    color: var(--color-heading);
    font-family: var(--font-heading);
    font-size: 38px;
    letter-spacing: 1px;
    padding-bottom: 20px;
    text-transform: uppercase;
  }
  p {
    color: var(--color-paragraph);
    font-family: var(--font-text);
    font-size: 15px;
    line-height: 25px;
    padding-bottom: 36px;
  }
  section a {
    background-color: var(--color-button);
    border: 0;
    border-radius: 49px;
    color: var(--color-button);
    font-family: var(--font-text);
    font-size: 15px;
    padding: 15px 32px;
    text-decoration: none;
  }
  footer {
    color: gray;
    font-family: var(--font-text);
    font-size: 12px;
    left: 50%;
    position: fixed;
    text-align: center;
    top: 95%;
    transform: translateX(-50%);
    width: 100%;
    z-index: -1;
  }
  footer a {
    color: var(--color-first-bg);
    font-weight: 700;
    text-decoration: none;
    transition: color 200ms ease-in-out;
  }
  footer a:hover,
  footer a:focus {
    color: var(--color-second-bg);
  }  
  section:nth-of-type(1) {
    background-color: var(--color-first-bg);
    border-radius: 10px 10px 0 0;
    margin-top: 40px;
  }
  section:nth-of-type(1) a {
    color: var(--color-first-bg);
  }
  section:nth-of-type(2) {
    background-color: var(--color-second-bg);
  }
  section:nth-of-type(2) a {
    color: var(--color-second-bg);
  } 
  section:nth-of-type(3) {
    background-color: var(--color-third-bg);
    border-radius: 0 0 10px 10px;
    margin-bottom: 40px;
  }
  section:nth-of-type(3) a {
    color: var(--color-third-bg);
  }
  section a:hover {
    background-color: transparent;
    border: 2px solid var(--color-button);
    color: var(--color-button);
  }  
  @media (min-width: 768px) {
    main {
      flex-direction: row;
      justify-content: center;
      max-width: 930px;
    }
    section {
      margin-top: 2.6rem;
      max-width: 33%;
      min-width: 300px;
      padding: 3rem 3rem 4em 3rem;
    }
    p {
      padding-bottom: 95px;
    }
    footer {
      background-color: transparent;
      font-size: 15px;
      padding: 0 0;
    }
    section:nth-of-type(1) {
      border-radius: 10px 0 0 10px;
      margin-top: 2.6rem;
    }
    section:nth-of-type(3) {
      border-radius: 0 10px 10px 0;
      margin-bottom: 0;
    }
  }