@import url("https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:wght@400;500;700&family=Rubik:wght@400;500&family=Ubuntu:wght@400;500;700&display=swap");
:root {
  --Bright-Red: hsl(12, 88%, 59%);
  --Dark-Blue: hsl(228, 39%, 23%);
  --Dark-Grayish-Blue: hsl(227, 12%, 61%);
  --Very-Dark-Blue: hsl(233, 12%, 13%);
  --Very-Pale-Red: hsl(13, 100%, 96%);
  --Vary-Light-Gray: hsl(0, 0%, 98%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Be Vietnam Pro", sans-serif;
}
.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}
/* Small */
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
/* Medium */
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
/* Large */
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}
img {
  max-width: 100%;
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
}
button:hover {
  opacity: 0.5;
}
/*start header*/

header {
  margin-top: 20px;
}
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
nav ul {
  display: flex;
}
nav ul li {
  margin-left: 20px;
}
nav ul li a {
  color: var(--Dark-Blue);
}
nav ul li a:hover {
  opacity: 0.5;
}
header nav > a {
  background: var(--Bright-Red);
  padding: 10px 20px;
  border-radius: 20px;
  color: white;
  cursor: pointer;
}
header nav > a:hover {
  opacity: 0.5;
}
#burger {
  display: none;
}
.mobile-nav {
  margin-top: 30px;
  background: rgb(255, 245, 245);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 50px 129px;
  box-shadow: 4px 2px 1px 5px black;
}
.mobile-nav.hide {
  display: none;
}
#close {
  display: none;
  cursor: pointer;
}
.mobile-nav li {
  margin-bottom: 10px;
}
.mobile-nav li a {
  font-weight: bold;
}

@media (max-width: 992px) {
  nav ul,
  nav > a {
    display: none;
  }
  #burger {
    display: flex;
    cursor: pointer;
  }
}
/*End header*/
/*start landing*/
.landing {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 80px;
  flex-wrap: wrap;
}
.landing .text {
  flex: 1;
}
.landing .img {
  flex: 1;
  position: relative;
}
.landing .img::after {
  content: url(images/bg-tablet-pattern.svg);
  position: absolute;
  top: -216px;
  right: -150px;
  z-index: -1;
}

.landing .text h1 {
  font-size: 45px;
  color: var(--Dark-Blue);
}
.landing .text p {
  margin-top: 20px;
  color: var(--Dark-Grayish-Blue);
}
button {
  background: var(--Bright-Red);
  padding: 10px 20px;
  border-radius: 20px;
  color: white;
  border: none;
  margin: 10px 0;
  cursor: pointer;
}

@media (max-width: 992px) {
  .landing {
    flex-direction: column-reverse;
    text-align: center;
  }
  .landing .text h1 {
    font-size: 35px;
  }
}
/*end landing*/
/*start about */
.about {
  margin-top: 150px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.about .col-left {
  position: relative;
}

.about .col-left h2 {
  color: var(--Dark-Blue);
  font-size: 45px;
  margin-bottom: 20px;
}
.about .col-left p {
  color: var(--Dark-Grayish-Blue);
}
.col-right .feature .heading {
  display: flex;
  margin: 20px 0;
}
.col-right .feature .heading span {
  margin-right: 20px;
  background: var(--Bright-Red);
  color: white;
  padding: 5px 15px;
  border-radius: 30px;
}
.col-right .feature .heading h3 {
  color: var(--Dark-Blue);
}
.col-right .feature p {
  color: var(--Dark-Grayish-Blue);
  line-height: 1.7;
  margin-left: 60px;
}
@media (max-width: 992px) {
  .about {
    flex-direction: column;
    text-align: center;
  }
  .col-right .feature p {
    margin-bottom: 40px;
    line-height: 1.2;
    text-align: left;
  }
  .feature .heading {
    background: var(--Very-Pale-Red);
    padding: 5px 0;
  }
}
/*end about */
/*start testimonials */
.testimonials {
  margin-top: 150px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}
.dots {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 40px 0;
}
.dots div {
  width: 10px;
  height: 10px;
  z-index: 10;
  border: 1px solid var(--Bright-Red);
  border-radius: 40px;
  margin-left: 5px;
  cursor: pointer;
  display: none;
}

.dots div.active {
  border: 10px solid var(--Bright-Red);
}
.testimonials::after {
  content: url(images/bg-tablet-pattern.svg);
  position: absolute;
  top: -351px;
  left: -808px;
  z-index: -1;
}
.grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 30px;
  margin-top: 80px;
}
.grid div {
  background: var(--Vary-Light-Gray);
  width: 400px;
  padding: 30px 0;
  text-align: center;
  margin: 30px 0;
}

.grid img {
  transform: translateY(-90px);
  width: 100px;
}
.grid h5 {
  font-size: 16px;
  transform: translateY(-55px);
}
.grid p {
  transform: translateY(-12px);
  color: var(--Dark-Grayish-Blue);
  line-height: 1.6;
}
@media (max-width: 992px) {
  .grid {
    display: block;
  }
  .two,
  .three {
    display: none;
  }
  .dots div {
    display: flex;
  }
  .tabcontent.hide {
    display: none;
  }
}
/*end testimonials */
/*start orange-bg */
.orange-bg {
  background-color: var(--Bright-Red);
}
.orange-bg .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 50px 0;
  color: white;
}
.orange-bg button {
  background-color: white;
  color: var(--Bright-Red);
}
@media (max-width: 992px) {
  .orange-bg .container {
    flex-direction: column;
  }
  .orange-bg .container h1 {
    margin: 30px 0;
  }
}
/*end  orange-bg */
/*footer*/
footer {
  background: var(--Very-Dark-Blue);
  color: white;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  padding: 69px;
}

footer .col1 .footer-logo {
  margin-bottom: 30px;
  margin-left: 10px;
}
footer .socials img {
  margin-left: 10px;
}
footer ul li {
  margin-bottom: 20px;
  cursor: pointer;
}
footer input {
  padding: 10px 20px;
  border-radius: 30px;
  border: none;
  margin-bottom: 80px;
}
footer p {
  color: var(--Dark-Grayish-Blue);
}
.copyright {
  display: none;
}
@media (max-width: 992px) {
  footer {
    text-align: center;
  }
  footer .col4 {
    grid-column: 1/5;
  }
  footer .col4 p {
    display: none;
  }
  footer .col2 {
    grid-column: 1/3;
    grid-row: 2;
  }
  footer .col3 {
    grid-column: 4/5;
    grid-row: 2;
  }
  footer .col1 {
    display: flex;
    flex-direction: column-reverse;
    grid-column: 1/5;
    grid-row: 3;
    justify-content: center;
    align-items: center;
  }
  footer ul li {
    margin-bottom: 30px;
  }
  .copyright {
    display: block;
    grid-column: 1/5;
    grid-row: 4;
  }
  footer .col1 .footer-logo {
    margin: 40px 0;
  }
}