* {
    box-sizing: border-box;
    margin: 0;
}

body {
    background-color: #FAFAFA;
    font-family: 'Poppins', sans-serif;
}


h1 {
    color: #4C4E61;
    font-size: 28px;
}

h2 {
    color: #4C4E61;
    font-size: 18px;
}

p {
    color: #A3A5AE;
    font-size: 12px;
}

#header {
    margin: 2rem 1rem 0;
    text-align: center;
}

#header .reliable {
    font-weight: 200;
}

#header .powered {
    font-weight: 600;
    padding-bottom: 1%;
}

#header p {
    font-size: 14px;
    margin: auto;
    width: 38%;
}
.container {
    align-items: center;
    display: flex;
    justify-content: center;
    padding: 1.5rem 0;
}
.card {
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 2px 5px 8px 5px #e9e8e8;
    display: flex;
    flex-direction: column;
    margin: 1rem;
    padding: 1.8rem;
    width: 19rem;
}
.card h2 {
    padding-bottom: 0.5rem;
}
.card p {
    padding-bottom: 2.2rem;
}
.card img {
    align-self: flex-end;
}
.supervisor {
    border-top: 5px solid #45D3D3;
}
.team-builder {
    border-top: 5px solid #EA5353;
    margin-bottom: 2rem;
}
.karma {
    border-top: 5px solid #FCAF4A;
}
.calculator {
    border-top: 5px solid #549EF2;
}
footer {
    text-align: center;
}

@media (max-width: 1020px) {
    #header p {
        width: 50%;   
    }
    .container {
        display: flex;
        flex-direction: column; 
    }
}


@media (max-width: 600px) {
    
    #header {
        padding: 2rem 0;
    }

    h1 {
        font-size: 24px;
    }

    #header .powered {
        padding-bottom: 4%;
    }

    #header p {
        width: 80%;
        
    }
}