.hi{ 
    background: grey;
    color: mediumspringgreen;
}

body{
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
    background-image: url(imges/bg-pack.jpg);
}
.logo{
    width: 150px;
}
.navbar ul li{
    display: inline-block;
    font-size: 23px;
    list-style: none;
    margin: 15px 15px 15px ;
    position: relative;
}   
.navbar ul li a{
    background-color: lightcoral;
    color:cyan;
    text-decoration: none;
    text-transform: uppercase;
} 

.content {
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
    margin: auto;
    padding: 10px;
    width: 850px;
  }

a:visited{
    color: purple;
}
a:hover{
    color:  yellow;
}
a:active{
    color: red;
}
.content a{
    align-items: center;
    padding-left: 200px;
}


a{
    font-size: 30px;
    
    padding: 3.5px;

}
ul li {
    color: darkolivegreen;
    font-size: 30px;
}
h1{
    color: darkorange;
    text-align: center;  
}